<!DOCTYPE html>
<%
var title = page.title;
if (is_archive()){
  title = 'Archives';

  if (is_month()){
    title += ': ' + page.year + '/' + page.month;
  } else if (is_year()){
    title += ': ' + page.year;
  }
} else if (is_category()){
  title = 'Category: ' + page.category;
} else if (is_tag()){
  title = 'Tag: ' + page.tag;
}
%><html<% if (title == "Getting Started"){ %> class="getting-started"<% } %>>
<head>
    <meta charset="utf-8">
    <title><% if (title){ %><%= title %> · <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <%- css('css/style') %>
    <%- partial('google-analytics') %>
</head>